.col-center {
    float: none;
    margin: 0 auto;
  }
  .light-weight{
    font-weight: 100;
}

.Aligner {
  height: 100%;
  height: 100vh;
  display: flex;
}

.hide-overflow{
  overflow: hidden;
}

.justify{
  text-align: justify;
  text-justify: inter-word;
}

