.small-icon{
    font-size: .8em;
}

.medium-text{
    font-size: 1.1em;
}

.light-weight{
    font-weight: 100;
}

.red{
    color: #d82a2aa6;
}

.green{
    color: #05991183
}


.primary{
    color: #3f51b5
}