<h3 class="light-weight mb-2">Mis reservas semanales</h3>
<div class="example-container mat-elevation-z6">
  <mat-table #table [dataSource]="reservas_semanales">
    <ng-container matColumnDef="sala">
      <mat-header-cell *matHeaderCellDef> Sala </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.alias}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef class="more-width"> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element" class="more-width"> {{element.day | date: 'dd/MM/yyyy'}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="horaInicio">
      <mat-header-cell *matHeaderCellDef> Inicio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="horaFinal">
        <mat-header-cell *matHeaderCellDef> Final </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="less-width"> Acción </mat-header-cell>
        <mat-cell *matCellDef="let element" class="less-width">
        <button mat-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{id: element.alias}"><!-- Pasamos el id -->
            <mat-icon class="panel-heading">more_vert</mat-icon>
        </button> 
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-id="id"> <!--Recibimos el parámetro del id para poder utilizarlo en el método -->
      <button (click)='onSelectElement(id)' mat-menu-item>Editar</button>
      <button mat-menu-item (click)="openDialog()">Eliminar</button>
    </ng-template>
</mat-menu>