.big-text{
    font-size: 3em;
}

.grey{
    color: gray;
}

.small{
    font-size: 1.2em;
}

.primary{
    color: #3f51b5
}

.light-weight{
    font-weight: 100;
}

.panel-heading{ 
    vertical-align: middle !important; 
}