<h3 class="light-weight mb-2 black">Próxima Reserva</h3>
<mat-card class="example-card" [ngClass]="{ 'mat-elevation-z6': hovered }" (mouseenter)="onChangeHover()" (mouseleave)="onChangeHover()">
  <ng-container *ngIf=ultima_reserva>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" *ngIf="ultima_reserva"></div>
      <mat-card-title>Sala {{ultima_reserva.room.alias}}</mat-card-title>
      <mat-card-subtitle>{{ultima_reserva.room.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{ultima_reserva.image_path}}>
    <mat-card-content>
      <p class>
          Día:<br>
          {{ultima_reserva.day | date }}<br><br>
          Hora de inicio:<br>
          {{ultima_reserva.time | date:'shortTime'}}<br><br>
          Hora final:<br>
          {{ultima_reserva.time | date:'shortTime'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a (click)='onSelectReserva(ultima_reserva)' mat-button>EDITAR</a>
      <a mat-button (click)="openDialog()">ELIMINAR</a>
    </mat-card-actions>
  </ng-container>
</mat-card>