<div class="container mt-5">
  <app-date-card></app-date-card>
  <div class="row mt-4 animated fadeIn">
    <div class="col-md-3 mb-4">
      <app-last-reservation-card></app-last-reservation-card>
    </div>

    <div class="col-md-6 mb-4">
      <div class="row">
        <div class="col-md-12">
          <app-all-rooms-card></app-all-rooms-card>
        </div>
        <div class="col-md-12 mt-3">
          <app-weekly-reservations-card></app-weekly-reservations-card>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <app-time-remaining-card></app-time-remaining-card>
    </div>
  </div>
</div>
