.light-weight{
  font-weight: 100;
}
  
.small-text{
  font-size: 1em;
}

.example-header-image {
  background-image: url('https://pbs.twimg.com/profile_images/925745631695577088/clMBQQH1_400x400.jpg');
  background-size: cover;
}
