/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #faf9f9;
    background-image: url("./assets/connected.png");
}

.black{
    color: rgb(68, 68, 68);
}
